h1 {
    color: darkslategrey;
    text-align: center;
}

p {
    color: darkslategrey;
}

div {
    background-color: lightgray;
    width: 500px;
    height: 100px;
    margin: 30px;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 28px;
    font-weight: bold;
    color:white;
    border: 3px solid black;
}
table{
    border: 2px solid black;  
    border-collapse: collapse; 
    width: 50%;
}

th,td{
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}
th{
    background-color: lightgrey;
}

